.footer {
    background-color: #31a9c4;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-bottom: 0;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #054553;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 2em;
}

.copyright span{
    font-weight: bold;
    color: #054553;
}