.home_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: black;
}

.home_container h1 span {
    color: white;
    padding: 0 .2em;
    background-color: #594a47;
}

.home_container p {
    margin-bottom: 1.5em;
    color: black;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}