.newcustomer_container {
    width: 60%;
    margin: 0 auto;
    padding: 3em;
}

.newcustomer_container h1 {
    margin-bottom: .5em;
    color: #000;
}

.newcustomer_container p {
    color: #000;
}